@font-face{
    font-family: "Augustus";
    src:url("../fonts/AUGUSTUS.ttf");
}
@font-face{
    font-family: "Lane";
    src:url("../fonts/LANENAR_.ttf");
}

/******** Variables **********/
:root{
    --color1:#aa0404;
    --color2:#CCCCCC;
    --color3:#FFFFFF;
    --color2_1:#b1b1b1;
}
/********* Contenido **************/
body {
    background: var(--color3);
    text-align: center;
    font-family: "Lane";
    font-weight: 600;
}

main {
    margin: 7em 5em;
}

/********* Diseño de tabla ***********/

table {
    border:.1em #777 solid;
    border-collapse: collapse;
}

td, td {
   padding:.5em; 
}

td, th {
    border-left:.1em #777 solid;
}

th {
    background: var(--color2_1);
}

tr:nth-of-type(2n-1) {
    background: var(--color2);
}

/* Tabla de profesor */
#profesor td:nth-of-type(1) {
    min-width: 10em;
}

#profesor td:nth-of-type(2) {
    min-width: 20em;
}

/************* Header *****************/

header {
    display: flex;
    background: var(--color1);
    padding: 0;
    text-align: left;
    justify-content:space-between;
}

.index{
    display: block;
    text-align: center; 
    text-transform: uppercase;
}

.index h1{
    font-family: "Augustus";
    font-weight: 500;
    font-size: 2em;
}

header .icon-university{
    display: inline-block;
    padding-top: .1em;
    color: white;
    font-size: 3em;
}
header h1{
    display: inline-block;
    font-family: "Augustus";
    font-size: 1em; 
}

/***************** Menú ***********************/


.hiddmenu #btn-menu,.hiddmenu .menu{
   display: none;
}

.hiddmenu .menu {
    background: rgba(255, 255, 255, 0.7);
    padding: .5em .2em .5em 0;
    border: .2em var(--color2) solid;
}

.hiddmenu li:hover, .right-menu li:hover{
    background: var(--color2);
}

.hiddmenu, .breadcums {
    position: absolute;
    top: 4em; /* para que quede debajo del menú */
    left: 0;
}

.hiddmenu label, .hiddmenu #btn-menu:checked {
    font-family: "untitled-font-1";
    font-size: 2em;
    cursor: pointer;
    margin-left: .1em;
}
.hiddmenu label:before{
    content:"y";
}

.hiddmenu #btn-menu:checked ~ label, .hiddmenu #btn-menu:hover ~ label{
    color: var(--color2);
}

.hiddmenu #btn-menu:checked ~ label:before {
    content:"z";
}

.hiddmenu #btn-menu:checked ~ .menu{
    display: block;
}

.hiddmenu li {
    padding: .2em .5em;
}


/** Breadcums**/
.breadcums {
    margin-left: 3em;
}

.breadcums li{
    position: relative;
    display: inline-block;
    padding-right: 1em;
    margin-top: .5em;
}

.breadcums li:after{
    position: absolute;
    content:"b";
    font-family: "untitled-font-1";
    font-weight: 100;
    margin-top: .2em;
}

.breadcums li:last-of-type:after {
    content:"";
}

.breadcums a {
    color: #009bd0;
    padding: .2em;
}

.breadcums a:hover {
    background: rgba(0, 0, 0, 0.05);
    text-decoration: underline;
}

/****** right-menu *****/
.right-menu {
    display: inline;
    margin-top: 1em;
    margin-right: 1em;
}

.right-menu label{
    display: inline;
    font-size: 2em;
    font-family: "untitled-font-1";
    color: white;
    cursor: pointer;
    padding: .3em;
    margin-left: .1em;
}

.right-menu #notifications{
    background: rgba(255, 255, 255, 0.7);
    width: 7em;
    right: .5em;
    border: .2em var(--color2) solid;
    text-align: center;
}

.right-menu .settings {
    background: rgba(255, 255, 255, 0.7);
    text-align: right;
    right: .2em;
    padding:.1em;
    border: .05em var(--color2) solid;
}

.right-menu #notifications, .right-menu .settings, #btn-bell, #btn-data{
    display: none;
}

.right-menu #btn-bell:checked ~ #notifications, .right-menu #btn-data:checked ~ .settings {
    position: absolute;
    display: block;
}

.right-menu #btn-bell:hover ~ label:nth-of-type(1), .right-menu #btn-data:hover ~ label, .right-menu #btn-bell:checked ~ label:nth-of-type(1), .right-menu #btn-data:checked ~ label {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    transition: 1s all;
}

/****** Diseño del formulario de login ******/

.login {
    text-align: center;
    max-width: 20em;
    margin-top: 5em;
}
.login fieldset {
    background: var(--color2);
    padding-bottom: 1em;
    padding-top: 1em;
    border-width: medium;
}
.login div{
    display: block;
    padding: .5em .2em .5em .5em;
}
.login input{
    height: 2em;
    border: 2px rgba(0, 0, 0, 0.57) solid;
    font-family: "Lane";
    font-weight: 600;
}

.login input[type="text"], input[type="password"] {
    width: 10em;
}

.login input[type="submit"] {
    background-color: white;
    padding: .5em;
    padding-bottom: 1.5em;
    box-shadow: .2em .2em rgba(0, 0, 0, 0.54);
    cursor: pointer;
}
.login input[type="submit"]:hover{
    background-color: #eaeaea;
    color: #585858;
}

/************************* Iconos **************************/
label .icon-user,label .icon-unlock-alt {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

/*
Simbolos e iconos:
font-family: "untitled-font-1"
.icon-user
.icon-unlock-alt
.icon-cog
.icon-bell-o
*/

/********************* Footer **************************/
footer {
    display: block;
    background: rgba(0, 0, 0, 0.31);
    position: fixed;
    width: 100%;
    font-size: .7em;
    bottom: 0;
    margin:auto;
}